@media (min-width:320px) and (max-width:575px) {

    .navbar {
        background: none;
    }

    .navbar-light .navbar-toggler {
        border: 0;
        outline: none;
    }

    .navbar-light .navbar-toggler:focus {
        border: 0;
        outline: none;
    }

    .navFixed {
        position: inherit;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        font-size: 20px;
    }

    .social-icon-content {
        display: inherit !important;
    }

    .for-position-image {
        display: inline-block !important;
    }

    .for-position-image p {
        margin-bottom: 20px;
    }

    .for-remove-country {
        display: none !important;
    }

    .google-play-img {
        display: none;
    }

    .about-us {
        display: none;
    }
}

@media (min-width:576px) and (max-width:767px) {

    .navbar {
        background: none;
    }

    .navbar-light .navbar-toggler {
        border: 0;
        outline: none;
    }

    .navbar-light .navbar-toggler:focus {
        border: 0;
        outline: none;
    }

    .navFixed {
        position: inherit;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        font-size: 20px;
    }

    .social-icon-content .date {
        display: inherit;
    }

    .social-icon li:last-child {
        display: none;
    }

    .for-position-image {
        display: inline-block !important;
    }

    .for-position-image p {
        margin-bottom: 20px;
    }

    .for-remove-country {
        display: none !important;
    }

    .google-play-img {
        display: none;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .navbar {
        background: none;
    }

    .navbar-light .navbar-toggler {
        border: 0;
        outline: none;
    }

    .navbar-light .navbar-toggler:focus {
        border: 0;
        outline: none;
    }

    .navFixed {
        position: inherit;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        font-size: 20px;
    }

    .social-icon li:last-child {
        display: none;
    }

    .for-position-image {
        display: inline-block !important;
    }

    .for-position-image p {
        margin-bottom: 20px;
    }

    .map {
        display: none;
    }

    .google-play-img {
        display: none;
    }

}
