* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

/* common css end */

.date {
    color: white;
    font-size: 24px;
}

.social-icon a i {

    font-size: 25px;
    margin-left: 10px;
    color: #fff;

}

.social-icon-content {
    background: red;
    font-size: 16px;
    color: white;
}

#navbarSupportedContent {
    background: red;
}

.navbar-nav .nav-item a {
    color: #fff !important;
}
