* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.date {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-size: 24px;
}

.social-icon {
    float: right;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.social-icon a i {
    color: red;
    font-size: 25px;
    margin-left: 10px;

}

.social-icon-container {
    background: lightgray;
}

#navbarSupportedContent {
    background: red;
}

.navbar-nav .nav-item a {
    color: #fff !important;
}
